/* Home */

#home {
    background: rgb(223, 87, 87);
    background: linear-gradient(90deg, rgb(204,36,36) 50%, rgba(242, 201, 201, 1) 100%);
    min-height: 500px;
}

/* Cards */

.card {
    transition: all 0.54s ease;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/* Footer */

.footer {
    background: rgb(223, 87, 87);
    background: linear-gradient(90deg, rgb(204,36,36) 40%, rgba(242, 201, 201, 1) 100%);  
}